
#root{
  display: flex;
  align-items: center;
  justify-content: center;
}
.postit {
  width: 30vw;
  height: 50vh;
	border: 1px solid black;
	display: block;
	position: relative;
  margin-right: 2vw;


}

.postit:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-top: 15px solid green;
	border-left: 15px solid rgba(0, 0, 0, 0);
	width: 0;
  height: 20vw;
}

.postit:hover::before{
	border-top: 15px solid yellow;
}

