#root {

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}


.perspec{
  width: 300px;
  height: 200px;
  perspective: 500px;
 
}

.box {
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-180px) rotate3d(0, 0, 0);

  animation: rotate 20s;
}

.box_face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5em;
  font-family: monospace;
  opacity: 0;

  &--front {
    opacity: 1;
    width: 300px;
    height: 200px;
    background: green;
    transform: rotateY(0deg) translateZ(50px);
  }

  &--back {
    opacity: 1;
    width: 300px;
    height: 200px;
    background: #AB7E5F;
    transform: rotateY(180deg) translateZ(500px);
  }

  &--right {
    opacity: 1;
    left: 300px;
    width: 200px;
    height: 200px;
    background: #AB5F66;
    transform: rotateY(90deg)translateZ(-30px);
  }

  &--left {
    opacity: 1;
    left: 300px;
    width: 200px;
    height: 200px;
    background: #AB5F8C;
    transform: rotateY(-90deg) translateZ(500px);
  }



  &--bottom {
    opacity: 1;
    top: 50px;
    width: 300px;
    height: 100px;
    background: #A45FAB;
    transform: rotateX(-90deg) translateZ(100px);
  }
}








@keyframes rotate {
  0% {
    transform: translateZ(0px) rotate3d(0, 1, 0,00deg)
  };


  55% {
    transform: translateZ(0px) rotate3d(0, 1, 0, 0deg)
  }

  ;


  100% {
    transform: translateZ(0px) rotate3d(0, 1, 0, 0deg);

  }
}